<h1>Eat Da Burger</h1>

<img id="burger-picture" src="/assets/img/burgerPhoto.jpg" alt="Burger Picture" height="250" width="250" />


<section class="row"></section>
    <div class="+col-md-7 col-left">
        <table>
            {{#each burgers}}
            <button>{{this.burger_name}}</button>
            {{/each}}
        </table>
    </div>
</section>



<form>
    <div class="form-group">
        <label for="burger-input">Enter your favorite burger</label>
        <textarea class="form-control" id="burger-input" rows="3"></textarea>
    </div>
</form>


<button class="btn btn-primary btn-lg btn-block" id="add-btn">Submit</button>

<script>
    $("#add-btn").on("click", function (event) {
        event.preventDefault();

        var burgerName = $("#burger-input").val().trim()

        $.post("/burger/add", { burgerName }, function (data) {
            console.log(data)
        });
    });


</script>













