{{!-- * Setup the `main.handlebars` file so it's able to be used by Handlebars. --}}

{{!-- Main is where the content from index will be displayed after we call it from index with "{{}}" --}}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Day planner!</title>
  <script src="https://code.jquery.com/jquery.js"></script>
</head>
<body>
  {{{ body }}}
</body>
</html>
<!DOCTYPE html>
<html lang="en">
